/*------------------------------------------------*/
/*------[Styles used by event_details.html]-------*/
/*------------------------------------------------*/

.contentContainer{
	max-height: 600px;
	max-width: 1050px;
	margin-left: 80px;

}

#EventMenu{
	margin-left: 250px;
}

#slideshow{
	max-height: 250px;
	width: auto;
}
