/*------------------------------------------------*/
/*---[Styles used on iPad version of home page]---*/
/*------------------------------------------------*/

@media screen and (min-width: 601px) and (max-width: 768px) {	
	.contentContainer{
		max-height: 1500px;
		max-width: 768px;
	}
	
	#column1, #column2, #column3{
		width: 700px;
		top: 0px;
		padding: 0px 0px 0px 25px;
		font-size: medium;
	}
}