/*------------------------------------------------*/
/*--[Styles used on mobile version of home page]--*/
/*------------------------------------------------*/

@media screen and (max-width: 320px) {
	.contentContainer{
		max-height: 1500px;
		max-width: 320px;
	}
	
	#column1, #column2, #column3{
		top: 0px;
		padding: 0px 0px 0px 25px;
	}
}