/*------------------------------------------------*/
/*--[Styles used on tablet version of home page]--*/
/*------------------------------------------------*/

@media screen and (min-width: 321px) and (max-width: 600px) {
	.contentContainer{
		max-height: 1000px;
		max-width: 600px;
	}
	
	#column1, #column2{
		width: 265px;
		top: 0px;
		padding: 0px 0px 0px 25px;
	}
	
	#column3{
		width: 265px;
		padding: 0px 0px 0px 0px;
		left: 300px;
	}
}